.button {
  margin-top: 64px;
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: #835afd;
  color: #fff;
  padding: 0 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; //ao passar o mouse por cima
  border: 0;
  transition: filter 0.2s;

  img {
    margin-right: 8px;
  }
  &:not(:disabled):hover {
    //jogar o efeito no elemento que estou
    filter: brightness(0.9);
  }
  &:disabled {
    //quando o botao estiver desabilitado
    opacity: 0.6;
    cursor: not-allowed;
  }
}
